.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  align-items: center;
  justify-content: center;

  color: white;
}

.App-link {
  color: #61dafb;
}
.cat-image {
  max-width: 100%;
  height: auto;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mycatlist { }

.listcontainer { padding: 10px 0;  display: flex; flex-wrap: wrap; }
.listcontainer > div { padding-top: 15px; padding-bottom: 10px; }
.aligncenter { text-align: center; }
.centerfix { display: inline-block; margin: 0 auto; }
.hide { display: none; }
.bback { margin: 15px 0 15px; }
.mycatpage h2 {padding: 10px 0; }
.mycatpage > div, .mycatpage h2 { color: #fff; font-weight: 600; }
.col-md-10 , .col-md-2{ float: left;}
.infocatpage { display: flex; flex-wrap: wrap; }
.infocatpage label { color: #111; font-weight: bold; }